<%-include("loxy/header.ejs")%>
<link rel="stylesheet" href="/stylesheets/index.css">


<%-include("loxy/nav.ejs")%>

<div class="box">
  <h1>About App</h1>
<h3>This app is used to register and maintain the employe data.and store it in the database.it also have a feature to update and delete,so that that company use their employ data according to their need. </h3>
<a id="bt" href="/rg"><button>Register Employ</button></a>

</div>
<%-include("loxy/footer.ejs")%>
