<link rel="stylesheet" href="/stylesheets/nav.css">


<nav>
    <a href="/"><h2>Home</h2></a>
    <a href="/about"><h2>About</h2></a>
    <a href="/rg"><h2>Employe Register</h2></a>
    <a href="/show"><h2>Employ's Data</h2></a>
</nav>