*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#ah1{
    align-items: center;
    margin-top: 45px;
    font-family: monument;
    color:transparent;
    letter-spacing: 7px;
    font-size: 50px;
    background-color: black;
    padding: 29px 405px ;
    -webkit-text-stroke: 3px whitesmoke;
}

h3{
    margin-top: 25px;
    text-align: center;
    font-family: gilroy light;
    font-weight: 500;
    width: 90%;
    margin-left: 24px;
}

.box{

    width: 40%;
    margin-left: 455px;
    margin-top: 25px;
    padding: 50px 35px;
    border-radius: 14px;
    border: 2px solid black;
}

  button{
    padding: 25px 28px;
    background-color:blueviolet;
    font-size: 24px;
    font-family: gilroy light;
    color:aliceblue ;
   margin-top: 45px;
   margin-left: 155px;
   border: none;
   border-radius: 25px;
   cursor: pointer;


}

h1{
    text-align: center;
    font-size: 40px;
    color: blueviolet;
    font-family:helvetica ;
    font-weight: 400;

}