 nav a{
  
    text-decoration: none;
  

}


nav{
    margin-top: 8px;
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 110px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}